* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 3px solid rgb(169, 247, 79); */
}

html,
body {
    height: 100dvh;
    width: 100%;
    background-color: rgb(26, 25, 27);
    color: azure;
}

body>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-shadow: 0 0 10px rgb(247, 79, 79);
}

nav>h1 {
    font-size: 2rem;
    color: azure;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

ul>li>a {
    text-decoration: none;
    color: azure;
}

li>a:hover {
    color: rgb(247, 79, 79);
    text-decoration: underline;
}


main {
    min-height: 25dvh;
    width: 100%;
}

main>div {
    padding-top: 2rem;
}

main>div>h1 {
    font-size: 2rem;
    text-align: center;
}