{% load static %} <!-- NOTE - {% load static %} this is called template tag, which is used to load static files -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <!-- NOTE - {% static 'css/style.css' %} is used to load static files from static folder -->

</head>

<body>
    <main>
        <div>
            <h1>
                Hello from Django on Home Page
            </h1>
        </div>
    </main>

</body>

</html>